Repository BirthdayResearch/metascan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

removed unused code
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

update rpc url
  next.config.js
Owners: none

update rpc url on chains config
  src/shared/Chains.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

code refactor
  src/api/types.ts
  src/components/commons/Dropdown.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

remove liceance selection
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

remove unused whitelisted url
  next.config.js
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feature(ui-ux): smart contract verification using JSON input (#255)
  next.config.js
  src/api/SmartContractApi.ts
  src/api/types.ts
  src/components/commons/Dropdown.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
  src/pages/tx/[tid].tsx
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

added lib support standard contract verification
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

hide SolidityMultiPartFiles SC verification
  src/pages/contract/verify/_components/StepOne.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

added lib support standard contract verification
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

hide SolidityMultiPartFiles SC verification
  src/pages/contract/verify/_components/StepOne.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

added placeholder
  src/pages/contract/verify/_components/StepTwo.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(core): update domain name for node testnet
  next.config.js
Owners: none

update chains url
  src/shared/Chains.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(core): update domain name for node testnet (#264)
  next.config.js
  src/shared/Chains.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feature(ui-ux): added support to specify library name and address to verify SC (#263)
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): display read proxy and write proxy methods (#261)
  src/api/types.ts
  src/enum/codeOptions.ts
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/read-write/ReadWriteContract.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): add tokens list
  src/api/TokensApi.ts
  src/api/index.ts
  src/api/types.ts
  src/layouts/components/Header.tsx
  src/pages/tokens/_components/TokenRow.tsx
  src/pages/tokens/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feature(ui-ux): added support for multipart file upload
  package.json
  pnpm-lock.yaml
  src/api/SmartContractApi.ts
  src/api/index.ts
  src/components/commons/Dropzone.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

minor fix
  src/pages/contract/verify/_components/StepTwo.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feature(core): resolved conflicts with main (#267)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  README.md
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Owners: @thedoublejay, @kyleleow, @pierregee

feat(ui-ux): add tokens list (#265)
  src/api/TokensApi.ts
  src/api/index.ts
  src/api/types.ts
  src/layouts/components/Header.tsx
  src/pages/tokens/_components/TokenRow.tsx
  src/pages/tokens/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(build): fix feature branch build error
  src/components/commons/Dropdown.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(build): fix feature/contract branch build error (#268)
  src/components/commons/Dropdown.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

code refactoring
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feature(ui-ux): added support for multipart file upload (#266)
  package.json
  pnpm-lock.yaml
  src/api/SmartContractApi.ts
  src/api/index.ts
  src/components/commons/Dropzone.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

minor refactoring
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

added file upload ui cahnges
  src/components/commons/Dropzone.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feature(ui-ux): added file upload ui changes (#269)
  src/components/commons/Dropzone.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(build): fix feature/contract build
  src/pages/contract/verify/_components/StepTwo.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(build): fix feature/contract build (#270)
  src/pages/contract/verify/_components/StepTwo.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): add token details, transfers and holders api
  src/api/TokenApi.ts
  src/api/index.ts
  src/api/types.ts
  src/pages/tx/_components/TokenTransferDetails.tsx
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

list - update N/A
  src/api/index.ts
  src/pages/tokens/_components/TokenRow.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(deps): fix preview error caused by missing deps
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee

feat(ui-ux): update token list row ui
  src/pages/tokens/_components/TokenRow.tsx
  src/pages/tokens/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

revert ci
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Owners: @thedoublejay, @kyleleow, @pierregee

Revert "chore(ops): move to node 18 and update deps (#251)"
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  README.md
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Owners: @thedoublejay, @kyleleow, @pierregee

chore(ops): move to node 18 and update deps (#251)
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee

chore(ops): move to node 18 and update deps (#251) (#274)
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee

feature(ui-ux): added maintanence page
  src/api/HealthApi.ts
  src/api/index.ts
  src/layouts/Default.tsx
  src/layouts/components/MainContainer.tsx
  src/pages/Maintenance.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay @kyleleow @pierregee
/.husky/                                        @thedoublejay @kyleleow @pierregee

/src                                            @thedoublejay @kyleleow @pierregee @fullstackninja864 @lykalabrada
/public                                         @thedoublejay @kyleleow @pierregee @fullstackninja864 @lykalabrada

netlify.toml                                    @thedoublejay @kyleleow @pierregee
tsconfig.json                                   @thedoublejay @kyleleow @pierregee

package.json                                    @thedoublejay @kyleleow @pierregee
package-lock.json                               @thedoublejay @kyleleow @pierregee
/docker-compose.yml                             @thedoublejay @kyleleow @pierregee

CONTRIBUTING.md                                 @thedoublejay @kyleleow @pierregee
README.md                                       @thedoublejay @kyleleow @pierregee
LICENSE                                         @thedoublejay @kyleleow @pierregee
