Repository BirthdayResearch/metascan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

replace findindex with some
  src/pages/address/_components/contract/ReadWriteContract.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

replace findindex with some
  src/pages/address/_components/contract/ReadWriteContract.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

use stateMutability to filter read methods
  src/pages/address/_components/contract/ReadWriteContract.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

remove comment
  src/pages/address/_components/contract/ReadWriteContract.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): fix displayed read methods that are actually write methods (#328)
  src/pages/address/_components/contract/ReadWriteContract.tsx
  src/store/contract.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): display decoded bytes32 for contract output
  src/pages/address/_components/contract/ContractMethodResult.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): display decoded bytes32 for contract output (#329)
  src/pages/address/_components/contract/ContractMethodResult.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): fixed bug to prefill address in verify SC from query params
  src/pages/address/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix block detail page for 0th block
  src/pages/block/[id].tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): fixed bug to pre fill address in verify SC from query params (#330)
  src/pages/address/verify/index.tsx
  src/pages/block/[id].tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): modified network from testnet to changi
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/layouts/contexts/Environment.ts
  src/layouts/contexts/NetworkContext.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

chore(package): update eslint to 6.6.0
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee

update network
  .env
  src/api/index.ts
  src/layouts/Default.tsx
  src/layouts/components/HeaderNetworkMenu.tsx
  src/layouts/contexts/Environment.ts
  src/layouts/contexts/NetworkContext.tsx
  src/shared/Chains.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix
  src/layouts/components/HeaderNetworkMenu.tsx
  src/layouts/contexts/Environment.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): modified network from testnet to changi (#333)
  .env
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/layouts/Default.tsx
  src/layouts/contexts/Environment.ts
  src/layouts/contexts/NetworkContext.tsx
  src/shared/Chains.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

chore(ops): update config
  next.config.js
Owners: none

chore(ops): update config (#334)
  next.config.js
Owners: none

chore(ops): update default
  src/api/index.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

chore(ops): update default
  src/api/index.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

chore(ops): update default (#335)
  src/api/index.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): display of transaction type for contract creation
  src/api/LatestDataApi.ts
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): display of name and symbol
  src/pages/tokens/_components/TokenRow.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): display of name and symbol
  src/pages/tokens/_components/TokenRow.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): display of transaction type for contract creation (#336)
  src/api/LatestDataApi.ts
  src/pages/tokens/_components/TokenRow.tsx
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

chore(e2e): fix workflow
  .github/workflows/ci-e2e.yml
Owners: @thedoublejay, @kyleleow, @pierregee

feat(ui-ux): add back testnet and mainnet networks
  .env
  next.config.js
  src/layouts/Default.tsx
  src/layouts/contexts/Environment.ts
  src/shared/Chains.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

chore(e2e): fix workflow (#337)
  .github/workflows/ci-e2e.yml
Owners: @thedoublejay, @kyleleow, @pierregee

temporarily skip transaction-related tests
  cypress/e2e/pages/transaction/TokenMinting.spec.ts
  cypress/e2e/pages/transaction/[tid].spec.ts
Owners: none

update testnet eth rpc
  src/shared/Chains.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

skip test
  cypress/e2e/pages/transaction/TokenMinting.spec.ts
  cypress/e2e/pages/transaction/[tid].spec.ts
Owners: none

exclude failing tests
  cypress.config.js
  cypress/e2e/pages/transaction/TokenMinting.spec.ts
  cypress/e2e/pages/transaction/[tid].spec.ts
Owners: none

hide mainnet network
  src/layouts/contexts/Environment.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): add back testnet and mainnet networks (#338)
  .env
  cypress.config.js
  cypress/e2e/pages/transaction/TokenMinting.spec.ts
  cypress/e2e/pages/transaction/[tid].spec.ts
  next.config.js
  src/layouts/Default.tsx
  src/layouts/contexts/Environment.ts
  src/shared/Chains.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(core): fix default env for server-side api calls
  src/api/index.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(core): fix default env for server-side api calls (#339)
  src/api/index.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): fix displayed amount in transaction list
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

remove resolved todos
  src/pages/block/[id].tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): fix displayed amount in transaction list (#342)
  src/pages/block/[id].tsx
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): fix displayed transaction type for 'transfer' txn
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

enable 'Coin Transsfer' transaction type
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay @kyleleow @pierregee
/.husky/                                        @thedoublejay @kyleleow @pierregee

/src                                            @thedoublejay @kyleleow @pierregee @fullstackninja864 @lykalabrada
/public                                         @thedoublejay @kyleleow @pierregee @fullstackninja864 @lykalabrada

netlify.toml                                    @thedoublejay @kyleleow @pierregee
tsconfig.json                                   @thedoublejay @kyleleow @pierregee

package.json                                    @thedoublejay @kyleleow @pierregee
package-lock.json                               @thedoublejay @kyleleow @pierregee
/docker-compose.yml                             @thedoublejay @kyleleow @pierregee

CONTRIBUTING.md                                 @thedoublejay @kyleleow @pierregee
README.md                                       @thedoublejay @kyleleow @pierregee
LICENSE                                         @thedoublejay @kyleleow @pierregee
