Repository BirthdayResearch/metascan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): testnet faucet page
  src/layouts/components/Header.tsx
  src/layouts/components/SectionTitle.tsx
  src/layouts/components/TextInput.tsx
  src/pages/faucet/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): fix displayed transaction type for 'transfer' txn (#343)
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): add recaptcha v2
  .env
  next.config.js
  package.json
  pnpm-lock.yaml
  src/pages/faucet/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): hide /faucet navigation and page if not in Testnet env
  src/hooks/useMenuNavigationHelper.ts
  src/layouts/components/Header.tsx
  src/layouts/components/HeaderNetworkMenu.tsx
  src/pages/faucet/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

remove nvmrc
  apps/web/.nvmrc
Owners: none

fix(ui-ux): evmAddress input and captcha validation
  package.json
  pnpm-lock.yaml
  src/components/commons/Button.tsx
  src/layouts/components/TextInput.tsx
  src/layouts/components/WalletAddressTextInput.tsx
  src/pages/faucet/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feature(api): added api for faucet to allocate fund to user
  apps/server/package.json
  apps/server/src/AppConfig.ts
  apps/server/src/app.module.ts
  apps/server/src/faucet/AddressValidationInterceptor.ts
  apps/server/src/faucet/DefaultNetworkInterceptor.ts
  apps/server/src/faucet/FaucetController.ts
  apps/server/src/faucet/FaucetModule.ts
  apps/server/src/faucet/FaucetService.ts
  apps/server/src/service/DST20TokenService.ts
  apps/server/src/service/EVMProviderService.ts
  apps/server/src/service/EVMService.ts
  apps/server/src/service/whaleApiService.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Owners: @thedoublejay, @kyleleow, @pierregee

code refactor
  src/layouts/components/WalletAddressTextInput.tsx
  src/pages/faucet/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

added e2e test
  apps/server/package.json
  apps/server/src/AppConfig.ts
  apps/server/src/app.controller.spec.ts
  apps/server/src/faucet/FaucetService.ts
  apps/server/src/test/Faucet.spec.ts
  apps/server/src/test/MetachainTestingApp.ts
  apps/server/src/test/TestingModuleApp.ts
  apps/server/src/test/containers/DeFiChainStubContainer.ts
  apps/server/src/test/jest-e2e.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee

code cleanup
  .env
  src/components/commons/Button.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fixed pr comments
  apps/server/src/faucet/AddressValidationInterceptor.ts
  apps/server/src/faucet/DefaultNetworkInterceptor.ts
  apps/server/src/faucet/FaucetController.ts
Owners: none

added e2e for ratelimiting
  apps/server/src/app.module.ts
  apps/server/src/faucet/FaucetController.ts
  apps/server/src/test/Faucet.spec.ts
  apps/server/src/test/FaucetContorller.spec.ts
Owners: none

added invalid address test case
  apps/server/src/test/FaucetContorller.spec.ts
Owners: none

feature(api): added api for faucet to allocate fund to user (#346)
  apps/server/package.json
  apps/server/src/AppConfig.ts
  apps/server/src/app.controller.spec.ts
  apps/server/src/app.module.ts
  apps/server/src/faucet/AddressValidationInterceptor.ts
  apps/server/src/faucet/DefaultNetworkInterceptor.ts
  apps/server/src/faucet/FaucetController.ts
  apps/server/src/faucet/FaucetModule.ts
  apps/server/src/faucet/FaucetService.ts
  apps/server/src/service/DST20TokenService.ts
  apps/server/src/service/EVMProviderService.ts
  apps/server/src/service/EVMService.ts
  apps/server/src/service/whaleApiService.ts
  apps/server/src/test/Faucet.spec.ts
  apps/server/src/test/FaucetContorller.spec.ts
  apps/server/src/test/MetachainTestingApp.ts
  apps/server/src/test/TestingModuleApp.ts
  apps/server/src/test/containers/DeFiChainStubContainer.ts
  apps/server/src/test/jest-e2e.json
  package.json
  pnpm-lock.yaml
  turbo.json
Owners: @thedoublejay, @kyleleow, @pierregee

fix lint
  .nvmrc
Owners: none

fix typo
  apps/server/src/faucet/FaucetController.ts
  apps/server/src/test/FaucetContorller.spec.ts
Owners: none

fix ci
  .github/workflows/ci.yml
Owners: @thedoublejay, @kyleleow, @pierregee

fix ci
  apps/server/package.json
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/app.service.ts
  apps/server/src/faucet/AddressValidationInterceptor.ts
  apps/server/src/faucet/DefaultNetworkInterceptor.ts
  apps/server/src/faucet/FaucetController.ts
  apps/server/src/faucet/FaucetModule.ts
  apps/server/src/faucet/FaucetService.ts
  apps/server/src/main.ts
  apps/server/src/service/EVMProviderService.ts
  apps/server/src/test/Faucet.spec.ts
  apps/server/src/test/FaucetContorller.spec.ts
  apps/server/src/test/MetachainTestingApp.ts
Owners: @thedoublejay, @kyleleow, @pierregee

fix ci
  .github/workflows/ci.yml
  .gitignore
  apps/server/src/app.controller.ts
  apps/web/package.json
  apps/web/tsconfig.json
  turbo.json
Owners: @thedoublejay, @kyleleow, @pierregee

fix ci
  apps/web/package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee

fix ci
  apps/server/src/main.ts
Owners: none

fix ci
  apps/server/src/main.ts
Owners: none

fix ci
  apps/web/src/components/commons/Dropzone.tsx
  apps/web/src/pages/address/_components/contract/ContractMethodTextInput.tsx
Owners: none

fix ci
  netlify.toml
Owners: @thedoublejay, @kyleleow, @pierregee

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay @kyleleow @pierregee
/.husky/                                        @thedoublejay @kyleleow @pierregee

/src                                            @thedoublejay @kyleleow @pierregee @fullstackninja864 @lykalabrada
/public                                         @thedoublejay @kyleleow @pierregee @fullstackninja864 @lykalabrada

netlify.toml                                    @thedoublejay @kyleleow @pierregee
tsconfig.json                                   @thedoublejay @kyleleow @pierregee

package.json                                    @thedoublejay @kyleleow @pierregee
package-lock.json                               @thedoublejay @kyleleow @pierregee
/docker-compose.yml                             @thedoublejay @kyleleow @pierregee

CONTRIBUTING.md                                 @thedoublejay @kyleleow @pierregee
README.md                                       @thedoublejay @kyleleow @pierregee
LICENSE                                         @thedoublejay @kyleleow @pierregee
