Repository BirthdayResearch/metascan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay @kyleleow @pierregee
/.husky/                                        @thedoublejay @kyleleow @pierregee

/src                                            @thedoublejay @kyleleow @pierregee @fullstackninja864 @lykalabrada
/public                                         @thedoublejay @kyleleow @pierregee @fullstackninja864 @lykalabrada

netlify.toml                                    @thedoublejay @kyleleow @pierregee
tsconfig.json                                   @thedoublejay @kyleleow @pierregee

package.json                                    @thedoublejay @kyleleow @pierregee
package-lock.json                               @thedoublejay @kyleleow @pierregee
/docker-compose.yml                             @thedoublejay @kyleleow @pierregee

CONTRIBUTING.md                                 @thedoublejay @kyleleow @pierregee
README.md                                       @thedoublejay @kyleleow @pierregee
LICENSE                                         @thedoublejay @kyleleow @pierregee

fix homepage latest data loader
  src/components/LatestDataTable.tsx
  src/pages/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix lint error
  src/components/LatestDataTable.tsx
  src/pages/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): add api integration on contract detail page
  src/components/TransactionDetails.tsx
  src/pages/contract/[cid].tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

remove commented link - verified contracts in footer
  src/components/Footer.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

reorder tabs
  src/pages/contract/_components/ContractTabs.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

rm log
  src/pages/contract/[cid].tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): redirect hash to correct page
  src/components/commons/TransactionRow.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): update main tabs inside contract details
  src/enum/contractTabsTitle.ts
  src/mockdata/TransactionData.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractTabs.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

adjust sub-tab
  src/enum/codeOptions.ts
  src/pages/contract/_components/ContractCode.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

improve ui spacing
  src/pages/contract/[cid].tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

revert changes
  src/pages/contract/[cid].tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): add api integration on contract detail page (#232)
  src/components/Footer.tsx
  src/components/TransactionDetails.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractTabs.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix sub-tab name
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): update tabs inside contract details (#235)
  src/enum/codeOptions.ts
  src/enum/contractTabsTitle.ts
  src/mockdata/TransactionData.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/ContractTabs.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

added verify contract step 1 and terms page
  next.config.js
  src/api/SmartContractApi.ts
  src/api/index.ts
  src/api/types.ts
  src/components/commons/Dropdown.tsx
  src/components/commons/InputComponent.tsx
  src/pages/contract/verify/index.tsx
  src/pages/contract/verify/terms.tsx
  src/pages/contracts/index.tsx
  tailwind.config.js
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

added error state for input
  src/components/commons/InputComponent.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

minor text change
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(core): add contract read and write methods
  src/api/types.ts
  src/mockdata/TransactionData.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/ContractTabs.tsx
  src/pages/contract/_components/ReadWriteContract.tsx
  src/pages/contract/_components/WriteContract.tsx
  src/pages/contract/_components/WriteContractInputItem.tsx
  src/pages/contract/_components/read-write/ContractMethod.tsx
  src/pages/contract/_components/read-write/ContractMethodForm.tsx
  src/pages/contract/_components/read-write/ContractMethodTextInput.tsx
  src/pages/contract/_components/read-write/SubmitButton.tsx
  src/store/reducer/rootReducer.ts
  src/store/smartContract.ts
  tailwind.config.js
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix(ui-ux): uncommit ui padding
  src/pages/contract/[cid].tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix key error, method_id is optional
  src/api/types.ts
  src/pages/contract/_components/ReadWriteContract.tsx
  src/pages/contract/_components/read-write/ContractMethod.tsx
  src/pages/contract/_components/read-write/ContractMethodForm.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

added validation for step one
  next.config.js
  src/api/SmartContractApi.ts
  src/api/TokenStatsApi.ts
  src/components/commons/Dropdown.tsx
  src/components/commons/InputComponent.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/index.tsx
  src/pages/contract/verify/terms.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): add code details
  src/api/types.ts
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/ContractCodeTab.tsx
  src/pages/contract/_components/ContractTabs.tsx
  src/pages/contracts/index.tsx
  src/shared/contractDataHelper.ts
  src/store/contract.ts
  src/store/reducer/rootReducer.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix overlapping ui
  src/pages/contract/_components/ContractCodeTab.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

display code blocks
  src/pages/contract/_components/ContractCodeBlock.tsx
  src/pages/contract/_components/ContractCodeTab.tsx
  src/shared/contractDataHelper.ts
  src/store/contract.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

display all contract files
  src/pages/contract/_components/ContractCodeTab.tsx
  src/shared/contractDataHelper.ts
  src/store/contract.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

improve comment
  src/shared/contractDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

allow edit of smartcontract details
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(core): add metamask connection to metachain
  .npmrc
  next.config.js
  package.json
  pnpm-lock.yaml
  src/layouts/Default.tsx
  src/pages/contract/_components/ConnectButton.tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/read-write/ContractMethod.tsx
  src/pages/contract/_components/read-write/ContractMethodForm.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix filename for empty file path
  src/pages/contract/_components/ContractCodeTab.tsx
  src/shared/contractDataHelper.ts
  src/store/contract.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix build
  src/mockdata/TransactionData.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

fix build
  src/pages/contracts/_components/VerifiedContractRow.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

feat(ui-ux): add contract code details (#248)
  src/api/types.ts
  src/mockdata/TransactionData.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/ContractCodeBlock.tsx
  src/pages/contract/_components/ContractCodeTab.tsx
  src/pages/contract/_components/ContractTabs.tsx
  src/pages/contracts/_components/VerifiedContractRow.tsx
  src/pages/contracts/index.tsx
  src/shared/contractDataHelper.ts
  src/store/contract.ts
  src/store/reducer/rootReducer.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

chore(ops): move to node 18 and update deps
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  README.md
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Owners: @thedoublejay, @kyleleow, @pierregee

chore(ops): move to node 18 and update deps
  .nvmrc
Owners: none

chore(ops): move to node 18 and update deps (#251)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  README.md
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Owners: @thedoublejay, @kyleleow, @pierregee

added smartcontraction verification flow
  src/components/commons/Dropdown.tsx
  src/components/commons/InputComponent.tsx
  src/components/commons/Switch.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/index.tsx
  src/pages/tx/_components/RawInput.tsx
  src/styles/globals.css
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

handle contract write with defi value
  src/api/types.ts
  src/layouts/Default.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ConnectButton.tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/read-write/ContractMethod.tsx
  src/pages/contract/_components/read-write/ContractMethodForm.tsx
  src/pages/contract/_components/read-write/ContractMethodTextInput.tsx
  src/shared/contractDataHelper.ts
  src/store/contract.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

updated api endpoint and added redirection flow
  src/api/SmartContractApi.ts
  src/components/commons/TransactionRowStatus.tsx
  src/pages/contract/verify/index.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

clean up code for contract method form
  src/pages/contract/_components/read-write/ContractMethod.tsx
  src/pages/contract/_components/read-write/ContractMethodForm.tsx
  src/pages/contract/_components/read-write/ContractMethodResult.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada

replace ethers utils with viem
  src/api/LatestDataApi.ts
  src/pages/address/[aid].tsx
  src/pages/block/[id].tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCodeTab.tsx
  src/shared/getRewards.tsx
  src/shared/transactionDataHelper.ts
Owners: @thedoublejay, @kyleleow, @pierregee, @fullstackninja864, @lykalabrada
