Repository BirthdayResearch/metascan, pull requests merged in 2022-11, with the labels that each got.

#3 feature(hooks): setup husky and pre-commit hook
  .husky/pre-commit
  cypress/.eslintrc
  package-lock.json
  package.json
Labels: kind/feature

#4 chore(workflow): updated code owner list for auto request review
  .github/CODEOWNERS
  .lintstagedrc.js
  .nvmrc
Labels: kind/chore

#6 feature(ui-ux): display token statistics using static data
  package-lock.json
  package.json
  src/api/TokenStatsApi.ts
  src/components/TokenStatsDisplay.tsx
  src/components/TrendLineChart.tsx
  src/mockdata/TokenPriceHistory.ts
  src/pages/index.tsx
  tailwind.config.js
  tsconfig.json
Labels: kind/feature

#7 feature(ui-ux): add chain related stats display
  package-lock.json
  package.json
  src/components/GroupChainStatsCard.tsx
  src/components/TokenStatsDisplay.tsx
  src/components/commons/ChainStatsCard.tsx
  src/components/commons/GradientCardContainer.tsx
  src/hooks/useUnitSuffix.tsx
  src/pages/index.tsx
Labels: kind/feature

#8 feature(ui-ux): added search bar for txn search
  package-lock.json
  package.json
  public/favicon.ico
  public/favicon.png
  src/components/HomeTitle.tsx
  src/components/commons/GradientCardContainer.tsx
  src/components/icons/Transactions.tsx
  src/layouts/Default.tsx
  src/layouts/components/Header.tsx
  src/layouts/components/HeaderNetworkMenu.tsx
  src/layouts/components/searchbar/SearchBar.tsx
  src/layouts/components/searchbar/SearchResult.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: kind/feature

#10 feature(ui-ux): update token stats section and use unitSuffix hook
  src/components/GroupChainStatsCard.tsx
  src/components/TokenStatsDisplay.tsx
  src/components/commons/ChainStatsCard.tsx
  src/hooks/useUnitSuffix.tsx
  src/mockdata/TokenPriceHistory.ts
  src/pages/index.tsx
Labels: kind/feature

#9 feature(ui-ux): add button component
  src/components/commons/Button.tsx
  src/layouts/components/Header.tsx
  src/styles/globals.css
Labels: kind/feature

#23 feature(ui-ux): add footer
  src/components/Footer.tsx
  src/components/GroupChainStatsCard.tsx
  src/components/GroupStatisticCard.tsx
  src/components/commons/StatisticCard.tsx
  src/layouts/Default.tsx
  src/pages/index.tsx
Labels: kind/feature

#26 feature(ui-ux): add background feature
  public/background/footer-mobile.png
  public/background/footer-tablet.png
  public/background/footer.png
  public/background/gradient-blue-mobile.png
  public/background/gradient-blue-tablet.png
  public/background/gradient-blue.png
  public/background/gradient-purple-mobile.png
  public/background/gradient-purple-tablet.png
  public/background/gradient-purple.png
  src/layouts/Default.tsx
Labels: kind/feature

#29 chore(e2e): update cypress projectId
  .github/workflows/ci-e2e.yml
  cypress.config.js
Labels: kind/chore

#28 chore(ui-ux): added common alignment for all component on diff screen
  cypress/e2e/pages/index.spec.ts
  src/components/Footer.tsx
  src/components/HomeTitle.tsx
  src/components/commons/Button.tsx
  src/layouts/Default.tsx
  src/layouts/components/Header.tsx
  src/layouts/components/searchbar/SearchBar.tsx
  src/layouts/components/searchbar/SearchResult.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.css
Labels: kind/chore

#34 feature(ui-ux): add gradient to trend line chart
  src/components/TrendLineChart.tsx
Labels: kind/feature

#30 feature(ui-ux): display latest blocks and transactions on landing page
  src/api/LatestDataApi.ts
  src/components/Footer.tsx
  src/components/LatestDataTable.tsx
  src/components/TokenStatsDisplay.tsx
  src/components/commons/Button.tsx
  src/components/commons/LinkText.tsx
  src/mockdata/LatestData.ts
  src/pages/index.tsx
  src/shared/contants.ts
  src/shared/textHelper.ts
Labels: kind/feature

#37 feature(ui-ux): add style to button on focus
  src/components/commons/Button.tsx
  src/components/commons/LinkText.tsx
  src/styles/globals.css
Labels: kind/feature

#40 fix(build): revert netlify nextjs plugin
  package-lock.json
  package.json
Labels: kind/fix

#35 feature(ui-ux): transaction list page implementation
  .eslintrc
  src/components/commons/CursorPagination.tsx
  src/components/commons/NumericFormat.tsx
  src/components/icons/ConfirmCheck.tsx
  src/components/icons/IconGradient.tsx
  src/components/icons/RejectedCross.tsx
  src/layouts/Default.tsx
  src/layouts/components/Header.tsx
  src/mockdata/TransactionData.tsx
  src/pages/transactions/_components/TransactionRow.tsx
  src/pages/transactions/index.tsx
  src/shared/durationHelper.tsx
Labels: kind/feature

#42 feature(ui-ux): format time and token amount on latest data tables
  src/api/LatestDataApi.ts
  src/components/LatestDataTable.tsx
  src/mockdata/LatestData.ts
Labels: kind/feature

#43 chore(ui-ux): added on hover style for search bar
  src/layouts/components/searchbar/SearchBar.tsx
Labels: kind/chore

#47 feat(ui-ux): add transactiondetail page
  src/components/LatestDataTable.tsx
  src/components/commons/GradientCardContainer.tsx
  src/components/commons/Tooltip.tsx
  src/components/icons/GreenTickIcon.tsx
  src/components/icons/InfoIcon.tsx
  src/hooks/useWindowDimensions.tsx
  src/layouts/components/Header.tsx
  src/layouts/components/searchbar/SearchBar.tsx
  src/mockdata/TransactionDetailData.ts
  src/pages/tx/[tid].tsx
  src/pages/txs/_components/TransactionRow.tsx
  src/pages/txs/index.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: kind/feature

#48 feature(ui-ux): block details page
  src/components/LatestDataTable.tsx
  src/components/TokenStatsDisplay.tsx
  src/components/commons/LinktextWithIcon.tsx
  src/hooks/useCopyToClipboard.tsx
  src/pages/block/[id].tsx
  src/pages/block/_components/BlockTransactionList.tsx
  src/pages/index.tsx
  src/shared/constants.ts
  src/shared/textHelper.ts
Labels: kind/feature

#60 chore(build): pathname typo
  src/pages/block/_components/BlockTransactionList.tsx
Labels: kind/chore

#53 feature(ui-ux): added block listing page
  src/components/commons/LinkText.tsx
  src/components/commons/NumericFormat.tsx
  src/components/commons/TimeComponent.tsx
  src/mockdata/BlockData.tsx
  src/pages/blocks/_components/BlockRow.tsx
  src/pages/blocks/index.tsx
  src/pages/txs/_components/TransactionRow.tsx
  src/shared/durationHelper.tsx
Labels: kind/feature

#55 feature(ui-ux): updated getduration function
  src/components/LatestDataTable.tsx
  src/components/commons/TimeComponent.tsx
  src/pages/block/[id].tsx
  src/pages/tx/[tid].tsx
  src/shared/durationHelper.tsx
Labels: kind/feature

#57 chore(ui-ux): updated latest txn and block view all url
  src/components/LatestDataTable.tsx
  src/pages/block/[id].tsx
  src/pages/index.tsx
  src/pages/txs/index.tsx
Labels: kind/chore

#64 chore(deps): upgrade cypress to ^11.1.0
  package-lock.json
  package.json
Labels: kind/chore

#73 chore(ui-ux): updated favicon to match same branding for explorer
  public/favicon.ico
  public/favicon.png
Labels: kind/chore

#68 fix(ui-ux): transaction detail page layout
  src/components/commons/Tooltip.tsx
  src/pages/tx/[tid].tsx
  src/pages/tx/_components/BoldedTitle.tsx
Labels: kind/fix

#72 fix(ui-ux): update button to open on current tab instead of new tab
  src/components/commons/Button.tsx
Labels: kind/fix

#63 feature(ui-ux): add wallet address page
  package-lock.json
  package.json
  src/components/icons/BTC.tsx
  src/components/icons/DFI.tsx
  src/components/icons/DefaultToken.tsx
  src/components/icons/dBCH.tsx
  src/components/icons/dBTC.tsx
  src/components/icons/dETH.tsx
  src/components/icons/dLTC.tsx
  src/components/icons/dUSD.tsx
  src/components/icons/dUSDC.tsx
  src/components/icons/dUSDT.tsx
  src/layouts/components/searchbar/SearchBar.tsx
  src/mockdata/TokenData.tsx
  src/mockdata/WalletAddressData.tsx
  src/pages/address/[aid].tsx
  src/pages/address/_components/AddressTokenTableTitle.tsx
  src/pages/address/_components/DropDownTokenRow.tsx
  src/pages/address/_components/TokenRow.tsx
  src/pages/address/_components/TokenSearchDropDown.tsx
  src/pages/address/_components/WalletAddressQRCode.tsx
  src/shared/getTokenIcon.tsx
Labels: kind/feature

#76 feat(ui-ux): add verify contract list page
  src/mockdata/VerifiedContractData.tsx
  src/pages/contracts/_components/VerifiedContractRow.tsx
  src/pages/contracts/index.tsx
Labels: kind/feature
