Repository BirthdayResearch/metascan, pull requests merged in 2023-10, with the labels that each got.

#337 chore(e2e): fix workflow
  .github/workflows/ci-e2e.yml
Labels: kind/chore

#338 feat(ui-ux): add back testnet and mainnet networks
  .env
  cypress.config.js
  cypress/e2e/pages/transaction/TokenMinting.spec.ts
  cypress/e2e/pages/transaction/[tid].spec.ts
  next.config.js
  src/layouts/Default.tsx
  src/layouts/contexts/Environment.ts
  src/shared/Chains.ts
Labels: kind/feature

#339 fix(core): fix default env for server-side api calls
  src/api/index.ts
Labels: kind/fix
