Repository BirthdayResearch/metascan, pull requests merged in 2023-07, with the labels that each got.

#255 feature(ui-ux): smart contract verification using JSON input
  next.config.js
  src/api/SmartContractApi.ts
  src/api/types.ts
  src/components/commons/Dropdown.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
  src/pages/tx/[tid].tsx
  src/shared/transactionDataHelper.ts
Labels: kind/feature

#264 feat(core): update domain name for node testnet
  next.config.js
  src/shared/Chains.ts
Labels: kind/feature

#263 feature(ui-ux): added support to specify library name and address to verify SC
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Labels: kind/feature

#267 feature(core): resolved conflicts with main
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  README.md
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Labels: kind/feature

#265 feat(ui-ux): add tokens list
  src/api/TokensApi.ts
  src/api/index.ts
  src/api/types.ts
  src/layouts/components/Header.tsx
  src/pages/tokens/_components/TokenRow.tsx
  src/pages/tokens/index.tsx
Labels: kind/feature

#268 fix(build): fix feature/contract branch build error
  src/components/commons/Dropdown.tsx
Labels: kind/fix

#266 feature(ui-ux): added support for multipart file upload
  package.json
  pnpm-lock.yaml
  src/api/SmartContractApi.ts
  src/api/index.ts
  src/components/commons/Dropzone.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Labels: kind/feature

#269 feature(ui-ux): added file upload ui changes
  src/components/commons/Dropzone.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Labels: kind/feature

#270 fix(build): fix feature/contract build
  src/pages/contract/verify/_components/StepTwo.tsx
Labels: kind/fix

#274 chore(ops): move to node 18 and update deps (#251)
  package.json
  pnpm-lock.yaml
Labels: kind/chore

#277 feature(ui-ux): added maintenancepage
  src/api/HealthApi.ts
  src/api/SmartContractApi.ts
  src/api/index.ts
  src/layouts/Default.tsx
  src/layouts/components/MainContainer.tsx
  src/pages/Maintenance.tsx
Labels: kind/feature

#278 feature(ui-ux): minor SC UI updates
  src/layouts/components/Header.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/verify/index.tsx
Labels: kind/feature

#280 fix(build): fix build error
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
Labels: kind/fix

#281 fix(core): fixed linti issue
  src/pages/Maintenance.tsx
  tailwind.config.js
Labels: kind/fix

#282 chore(config): whitelist new ocean rpc
  .env
  next.config.js
Labels: kind/chore

#283 fix(conflict): Merge 'main' into branch feature/contract and fix conflict
  .env
  next.config.js
Labels: kind/fix

#284 fix(ui-ux): added fix for health check
  src/layouts/components/MainContainer.tsx
Labels: kind/fix

#286 fix(ui-ux): updated health api check
  src/layouts/components/MainContainer.tsx
Labels: kind/fix

#288 feature(ui-ux): added tokens listing in contract details
  .eslintrc
  src/api/WalletAddressApi.ts
  src/api/types.ts
  src/components/commons/Pagination.tsx
  src/components/skeletonLoaders/AddressTokenLoader.tsx
  src/components/skeletonLoaders/SkeletonLoader.tsx
  src/pages/address/_components/TokenRow.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractTabs.tsx
  src/pages/contract/_components/ContractTokensList.tsx
Labels: kind/feature

#289 fix(ui-ux): fixed txn loader
  src/components/skeletonLoaders/TransactionRowLoader.tsx
Labels: kind/fix

#291 feat(ui-ux): add token svg
  public/menu/Tokens.svg
  src/layouts/components/Header.tsx
Labels: kind/feature

#295 fix(ui-ux): fixed table header alignment
  src/pages/address/_components/ContractTokensList.tsx
Labels: kind/fix

#294 feature(ui-ux): added check for already verified contract address
  src/components/commons/InputComponent.tsx
  src/pages/contract/verify/_components/StepOne.tsx
Labels: kind/feature

#293 chore(refactor): merge pages for address + contract + token + token contract
  src/api/TokenApi.ts
  src/api/TransactionsApi.ts
  src/api/WalletAddressApi.ts
  src/api/types.ts
  src/components/TransactionDetails.tsx
  src/components/commons/LinkText.tsx
  src/components/commons/Pagination.tsx
  src/components/commons/TransactionRow.tsx
  src/components/types.ts
  src/enum/tabsTitle.ts
  src/layouts/components/Header.tsx
  src/pages/address/[aid].tsx
  src/pages/address/_components/AddressTokenTableTitle.tsx
  src/pages/address/_components/ContractCode.tsx
  src/pages/address/_components/ContractTokenRow.tsx
  src/pages/address/_components/ContractTokensList.tsx
  src/pages/address/_components/DetailRowTitle.tsx
  src/pages/address/_components/ListTabs.tsx
  src/pages/address/_components/LogsList.tsx
  src/pages/address/_components/TokenDetails.tsx
  src/pages/address/_components/TokenHoldersList.tsx
  src/pages/address/_components/TokenTransfersList.tsx
  src/pages/address/_components/TransactionsList.tsx
  src/pages/address/_components/WalletDetails.tsx
  src/pages/address/_components/contract/AddZeroesModal.tsx
  src/pages/address/_components/contract/ConnectButton.tsx
  src/pages/address/_components/contract/ContractCodeBlock.tsx
  src/pages/address/_components/contract/ContractCodeTab.tsx
  src/pages/address/_components/contract/ContractMethod.tsx
  src/pages/address/_components/contract/ContractMethodForm.tsx
  src/pages/address/_components/contract/ContractMethodResult.tsx
  src/pages/address/_components/contract/ContractMethodTextInput.tsx
  src/pages/address/_components/contract/ReadWriteContract.tsx
  src/pages/address/_components/contract/SubmitButton.tsx
  src/pages/address/_components/shared/AddressContractTabs.tsx
  src/pages/address/_components/shared/AddressContractTabsMenu.tsx
  src/pages/address/verify/_components/StepOne.tsx
  src/pages/address/verify/_components/StepTwo.tsx
  src/pages/address/verify/index.tsx
  src/pages/address/verify/terms.tsx
  src/pages/block/[id].tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractTabs.tsx
  src/pages/contract/_components/ContractTransactionsList.tsx
  src/pages/contracts/_components/VerifiedContractRow.tsx
  src/pages/contracts/index.tsx
  src/pages/token/[tokenId].tsx
  src/pages/token/_components/TokenDetailTabs.tsx
  src/pages/token/_components/TokenTransfers.tsx
  src/pages/tokens/index.tsx
  src/pages/tx/[tid].tsx
  src/pages/txs/index.tsx
  src/shared/transactionDataHelper.ts
  src/store/address.ts
  src/store/contract.ts
  src/store/token.ts
Labels: kind/chore

#297 fix(ui-ux): fixed error message issue in InputComponent
  src/components/commons/InputComponent.tsx
  src/pages/contract/_components/read-write/AddZeroesModal.tsx
Labels: kind/fix

#296 chore(ui-ux): add comment to list data timeout, fix minor issues
  .eslintrc
  src/pages/404.tsx
  src/pages/address/_components/ContractTokensList.tsx
  src/pages/address/_components/LogsList.tsx
  src/pages/address/_components/TokenHoldersList.tsx
  src/pages/address/_components/TokenTransfersList.tsx
  src/pages/address/_components/TransactionsList.tsx
  src/pages/tx/_components/TokenTransferDetails.tsx
Labels: kind/chore

#300 fix(ui-ux): hide tokens count for tokens details page
  src/pages/address/[aid].tsx
Labels: kind/fix

#299 fix(ui-ux): fixed amount not converted correctly on tokens page
  src/pages/address/[aid].tsx
  src/pages/address/_components/TokenHoldersList.tsx
  src/pages/address/_components/TokenTransfersList.tsx
Labels: kind/fix

#301 fix(ui-ux): fixed alignment issue for decode input in txn detail page
  src/pages/tx/_components/DecodedInput.tsx
Labels: kind/fix

#307 feature(ui-ux): updated footer to add explorer links
  src/components/Footer.tsx
Labels: kind/feature

#306 fix(ui-ux): txn count in verified SC listing
  src/pages/address/_components/contract/ContractCodeBlock.tsx
  src/pages/contracts/_components/VerifiedContractRow.tsx
Labels: kind/fix

#305 fix(ui-ux): fix null symbol on token transfers list
  src/pages/address/_components/TokenTransfersList.tsx
Labels: kind/fix

#304 fix(ui-ux): fix incorrect active tab when moving to token page
  src/pages/address/[aid].tsx
  src/pages/address/_components/ContractTokenRow.tsx
  src/pages/address/_components/ContractTokensList.tsx
Labels: kind/fix

#309 feature(ui-ux): added token link in txn details
  src/pages/tokens/_components/TokenRow.tsx
  src/pages/tx/_components/TokenTransferDetails.tsx
Labels: kind/feature

#308 feat(ui-ux): add tooltip for mobile and tablet view
  src/components/commons/BottomModal.tsx
  src/components/commons/DetailRow.tsx
  src/components/commons/Tooltip.tsx
  src/pages/address/[aid].tsx
  src/pages/address/_components/DetailRowTitle.tsx
  src/pages/address/_components/contract/ContractCodeBlock.tsx
Labels: kind/feature

#302 feat(core): update t and c
  src/pages/address/verify/terms.tsx
Labels: kind/feature

#310 feat(ui-ux): use 'source' query params to fix rerender issue on tab change
  src/components/TransactionDetails.tsx
  src/components/commons/Pagination.tsx
  src/enum/tabsTitle.ts
  src/hooks/useFetchListData.tsx
  src/pages/address/_components/ContractTokensList.tsx
  src/pages/address/_components/LogsList.tsx
  src/pages/address/_components/TokenHoldersList.tsx
  src/pages/address/_components/TokenTransfersList.tsx
  src/pages/address/_components/TransactionsList.tsx
Labels: kind/feature

#303 fix(ui-ux): fix multiple re-renders, add common `useFetchListData` hook
  src/components/TransactionDetails.tsx
  src/components/commons/Pagination.tsx
  src/enum/tabsTitle.ts
  src/hooks/useFetchListData.tsx
  src/pages/address/_components/ContractTokensList.tsx
  src/pages/address/_components/LogsList.tsx
  src/pages/address/_components/TokenHoldersList.tsx
  src/pages/address/_components/TokenTransfersList.tsx
  src/pages/address/_components/TransactionsList.tsx
Labels: kind/fix
