Repository BirthdayResearch/metascan, pull requests merged in 2023-11, with the labels that each got.

#342 fix(ui-ux): fix displayed amount in transaction list
  src/pages/block/[id].tsx
  src/shared/transactionDataHelper.ts
Labels: kind/fix

#343 fix(ui-ux): fix displayed transaction type for 'transfer' txn
  src/shared/transactionDataHelper.ts
Labels: kind/fix

#346 feature(api): added api for faucet to allocate fund to user
  apps/server/package.json
  apps/server/src/AppConfig.ts
  apps/server/src/app.controller.spec.ts
  apps/server/src/app.module.ts
  apps/server/src/faucet/AddressValidationInterceptor.ts
  apps/server/src/faucet/DefaultNetworkInterceptor.ts
  apps/server/src/faucet/FaucetController.ts
  apps/server/src/faucet/FaucetModule.ts
  apps/server/src/faucet/FaucetService.ts
  apps/server/src/service/DST20TokenService.ts
  apps/server/src/service/EVMProviderService.ts
  apps/server/src/service/EVMService.ts
  apps/server/src/service/whaleApiService.ts
  apps/server/src/test/Faucet.spec.ts
  apps/server/src/test/FaucetContorller.spec.ts
  apps/server/src/test/MetachainTestingApp.ts
  apps/server/src/test/TestingModuleApp.ts
  apps/server/src/test/containers/DeFiChainStubContainer.ts
  apps/server/src/test/jest-e2e.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: kind/feature

#348 fix(ui-ux): fix NaN display for gas used
  apps/web/src/pages/tx/[tid].tsx
Labels: kind/fix

#350 feature(serve): added health endpoint
  .vscode/settings.json
  apps/server/package.json
  apps/server/src/app.module.ts
  apps/server/src/health/HealthController.ts
  apps/server/src/health/HealthModule.ts
  apps/web/src/pages/tx/[tid].tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: kind/feature

#349 chore(ops): api deployment
  .github/scripts/release-ecr-tags.js
  .github/workflows/release-apps.yml
  apps/server/Dockerfile
  apps/server/src/main.ts
Labels: kind/chore

#352 fix(ops): add env file in server folder for deployment
  apps/server/.env
Labels: kind/fix

#351 chore(workflow): added readme
  README.md
Labels: kind/chore

#354 fix(ops): handle production environment in DefaultNetworkInterceptor.ts
  apps/server/src/faucet/DefaultNetworkInterceptor.ts
Labels: kind/fix

#356 chore(ui): add testnet network banner
  apps/web/src/layouts/components/Header.tsx
Labels: kind/chore

#355 chore(ops): enable mainnet - post-hardfork
  apps/server/src/service/EVMProviderService.ts
  apps/web/src/layouts/contexts/Environment.ts
  apps/web/src/shared/Chains.ts
Labels: kind/chore

#358 fix(ui-ux): fix route issue
  apps/web/package.json
  pnpm-lock.yaml
Labels: kind/fix

#357 feat(ui-ux): added ux for faucet
  apps/web/src/api/FaucetApi.ts
  apps/web/src/layouts/components/SectionDesc.tsx
  apps/web/src/layouts/components/WalletAddressTextInput.tsx
  apps/web/src/pages/faucet/index.tsx
Labels: kind/feature

#344 feat(core): testnet faucet page with recaptcha
  apps/server/package.json
  apps/server/pnpm-lock.yaml
  apps/server/src/MetascanServerApp.ts
  apps/server/src/faucet/FaucetController.ts
  apps/server/src/faucet/FaucetModule.ts
  apps/server/src/faucet/FaucetService.ts
  apps/server/src/main.ts
  apps/server/src/recaptcha/RecaptchaGuard.ts
  apps/web/.env
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/api/BlocksApi.ts
  apps/web/src/api/FaucetApi.ts
  apps/web/src/api/HealthApi.ts
  apps/web/src/api/LatestDataApi.ts
  apps/web/src/api/SmartContractApi.ts
  apps/web/src/api/TokenApi.ts
  apps/web/src/api/TokensApi.ts
  apps/web/src/api/TransactionsApi.ts
  apps/web/src/api/WalletAddressApi.ts
  apps/web/src/api/index.ts
  apps/web/src/components/commons/Button.tsx
  apps/web/src/hooks/useMenuNavigationHelper.ts
  apps/web/src/layouts/components/Header.tsx
  apps/web/src/layouts/components/HeaderNetworkMenu.tsx
  apps/web/src/layouts/components/SectionDesc.tsx
  apps/web/src/layouts/components/SectionTitle.tsx
  apps/web/src/layouts/components/WalletAddressTextInput.tsx
  apps/web/src/pages/address/_components/contract/ContractMethodResult.tsx
  apps/web/src/pages/faucet/index.tsx
  apps/web/src/store/address.ts
  apps/web/src/store/contract.ts
  apps/web/src/store/search.ts
  apps/web/src/store/token.ts
  package.json
  pnpm-lock.yaml
Labels: kind/feature

#369 chore(ui-ux): added server url for faucet
  apps/web/next.config.js
Labels: kind/chore

#370 chore(ui-ux): added faucet url
  apps/web/next.config.js
Labels: kind/chore

#371 chore(ui-ux): url fix
  apps/web/src/api/FaucetApi.ts
Labels: kind/chore

#373 chore(ui-ux): fix next config
  apps/web/next.config.js
Labels: kind/chore

#374 chore(server): enable-cors
  apps/server/src/MetascanServerApp.ts
Labels: kind/chore

#377 chore(api): added retry for faucet fund transfer
  apps/server/src/MetascanServerApp.ts
  apps/server/src/faucet/FaucetService.ts
  apps/web/src/pages/faucet/index.tsx
Labels: kind/chore

#378 fix(server): next public server url
  apps/web/.env
Labels: kind/fix

#379 feat(ui-ux): recaptcha light theme
  apps/web/src/pages/faucet/index.tsx
Labels: kind/feature

#380 feat(server): add test `/test` endpoint
  apps/server/src/app.controller.ts
Labels: kind/feature
