Repository BirthdayResearch/metascan, pull requests merged in 2023-06, with the labels that each got.

#169 feat(ui-ux): add txn list on block detail page
  src/api/BlocksApi.ts
  src/api/TransactionsApi.ts
  src/api/WalletAddressApi.ts
  src/api/index.ts
  src/api/types.ts
  src/components/commons/Pagination.tsx
  src/components/commons/TransactionRow.tsx
  src/pages/address/[aid].tsx
  src/pages/block/[id].tsx
  src/pages/block/_components/BlockTransactionList.tsx
Labels: kind/feature

#175 feat(ui-ux): update amounts and gas prices format
  src/api/LatestDataApi.ts
  src/pages/block/[id].tsx
  src/pages/index.tsx
  src/pages/tx/[tid].tsx
  src/shared/constants.ts
  src/shared/transactionDataHelper.ts
Labels: kind/feature

#177 feat(core): move rpc urls to env
  .env
  src/api/index.ts
Labels: kind/feature

#188 chore(ui-ux): temporarily hide mainnet
  src/api/index.ts
  src/layouts/contexts/Environment.ts
Labels: kind/chore

#178 feat(ui-ux): parse wallet balance
  src/pages/address/[aid].tsx
  src/pages/address/_components/WalletDetails.tsx
Labels: kind/feature

#187 feat(ui-ux): update transaction details page
  src/pages/tx/[tid].tsx
  src/pages/tx/_components/GasDetails.tsx
  src/pages/tx/_components/RawInput.tsx
  src/pages/tx/_components/WithCopy.tsx
  src/shared/textHelper.ts
  src/styles/globals.css
  tailwind.config.js
Labels: kind/feature

#191 feat(ui-ux): handle small screen ui
  src/pages/tx/[tid].tsx
  tailwind.config.js
Labels: kind/feature

#192 fix(core): fix search function
  .env
  next.config.js
  src/api/index.ts
Labels: kind/fix

#194 feat(ui-ux): remove seconds from timestamps
  src/shared/durationHelper.tsx
Labels: kind/feature

#193 feat(ui-ux): add proper not found page for each detail page
  src/components/DetailPageNotFound.tsx
  src/pages/404.tsx
Labels: kind/feature

#196 feature(ui-ux): update tx type icons
  src/components/Footer.tsx
  src/components/commons/TransactionRow.tsx
  src/components/icons/TokenTransfer.tsx
Labels: kind/feature

#198 fix(ui-ux): fix table list issues and update block details page
  src/api/LatestDataApi.ts
  src/api/types.ts
  src/components/LatestDataTable.tsx
  src/components/commons/TransactionRow.tsx
  src/components/latestDataTable/BlockRowItem.tsx
  src/components/latestDataTable/TransactionRowItem.tsx
  src/components/types.ts
  src/pages/block/[id].tsx
  src/pages/blocks/_components/BlockRow.tsx
  src/pages/index.tsx
  src/shared/getRewards.tsx
Labels: kind/fix

#197 feat(ui-ux): update tooltip
  src/api/types.ts
  src/components/commons/Tooltip.tsx
  src/mockdata/TransactionData.tsx
  src/pages/tx/[tid].tsx
  src/pages/tx/_components/GasDetails.tsx
  src/shared/transactionDataHelper.ts
Labels: kind/feature

#199 feat(ui-ux): add icon beside tx type inside tx details page
  src/components/icons/TokenTransfer.tsx
  src/components/icons/Transactions.tsx
  src/pages/tx/[tid].tsx
Labels: kind/feature

#200 feat(ui-ux): add txn not found message on wallet and block details page
  src/api/LatestDataApi.ts
  src/components/TransactionDetails.tsx
  src/pages/address/[aid].tsx
  src/pages/address/_components/TransactionDetails.tsx
  src/pages/block/[id].tsx
  src/pages/block/_components/BlockTransactionList.tsx
  src/shared/transactionDataHelper.ts
Labels: kind/feature

#195 feat(ui-ux): display token transfer details
  src/api/LatestDataApi.ts
  src/api/types.ts
  src/components/commons/DetailRow.tsx
  src/mockdata/TransactionData.tsx
  src/pages/tx/[tid].tsx
  src/pages/tx/_components/GasDetails.tsx
  src/pages/tx/_components/TokenTransferDetails.tsx
  src/shared/transactionDataHelper.ts
Labels: kind/feature

#201 fix(ui-ux): adjust searchbar
  src/layouts/components/searchbar/SearchBar.tsx
  src/pages/index.tsx
Labels: kind/fix

#203 feat(ui-ux): update title and desc
  next.config.js
  src/layouts/Default.tsx
Labels: kind/feature

#204 chore(ui-ux): use transaction type
  src/shared/transactionDataHelper.ts
Labels: kind/chore

#205 chore(ui-ux): use testnet api
  next.config.js
Labels: kind/chore

#209 chore(config): add new testnet rpc to csp
  next.config.js
Labels: kind/chore

#210 chore(ui-ux): potential fix for client side fetch
  next.config.js
Labels: kind/chore

#211 chore(ui-ux): potential fix for client side fetch
  next.config.js
Labels: kind/chore

#212 feat(ui-ux): handle lost block details and display block hash
  src/api/BlocksApi.ts
  src/api/types.ts
  src/pages/block/[id].tsx
  src/pages/block/_components/AddressRow.tsx
  src/pages/block/_components/DetailRow.tsx
  src/pages/block/_components/GasUsedRow.tsx
  src/pages/tx/_components/GasDetails.tsx
Labels: kind/feature

#218 fix(ui-ux): fetch tx confirmation from blockscout v1 api
  next.config.js
  src/api/TransactionsApi.ts
  src/api/index.ts
  src/api/types.ts
Labels: kind/fix

#213 feat(ui-ux): display decoded input for token transfer txs
  src/api/types.ts
  src/pages/tx/[tid].tsx
  src/pages/tx/_components/DecodedInput.tsx
  src/pages/tx/_components/RawInput.tsx
Labels: kind/feature

#219 feat(ui-ux): update main title and reduce size
  src/components/HomeTitle.tsx
  src/layouts/components/searchbar/SearchBar.tsx
  src/pages/index.tsx
Labels: kind/feature

#220 fix(conflict): fix merge conflict to main
  next.config.js
  src/api/BlocksApi.ts
  src/api/TransactionsApi.ts
  src/api/index.ts
  src/api/types.ts
  src/components/HomeTitle.tsx
  src/layouts/components/searchbar/SearchBar.tsx
  src/pages/block/[id].tsx
  src/pages/block/_components/AddressRow.tsx
  src/pages/block/_components/DetailRow.tsx
  src/pages/block/_components/GasUsedRow.tsx
  src/pages/index.tsx
  src/pages/tx/[tid].tsx
  src/pages/tx/_components/DecodedInput.tsx
  src/pages/tx/_components/GasDetails.tsx
  src/pages/tx/_components/RawInput.tsx
Labels: kind/fix

#222 chore(core): update endpoint
  next.config.js
Labels: kind/chore

#223 feat(ui-ux): add active nav highlight on desktop
  src/layouts/Default.tsx
  src/layouts/components/Header.tsx
Labels: kind/feature

#224 chore(ui-ux): update desc + metatags + image
  public/metascan_share.png
  src/layouts/Default.tsx
Labels: kind/chore

#227 chore(ui-ux): update github footer link
  src/components/Footer.tsx
Labels: kind/chore

#228 feat(core): update logic to display tx status
  src/api/types.ts
  src/components/commons/TransactionRow.tsx
  src/components/commons/TransactionRowStatus.tsx
  src/components/icons/ConfirmCheck.tsx
  src/components/icons/RejectedCross.tsx
  src/mockdata/BlockData.tsx
  src/mockdata/LatestData.ts
  src/mockdata/TransactionData.tsx
  src/pages/tx/[tid].tsx
  src/shared/transactionDataHelper.ts
Labels: kind/feature

#230 fix(ui-ux): incorrect data displayed in mobile view
  src/api/types.ts
  src/components/commons/TransactionRow.tsx
Labels: kind/fix

#235 feat(ui-ux): update tabs inside contract details
  src/enum/codeOptions.ts
  src/enum/contractTabsTitle.ts
  src/mockdata/TransactionData.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/ContractTabs.tsx
Labels: kind/feature

#248 feat(ui-ux): add contract code details
  src/api/types.ts
  src/mockdata/TransactionData.tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/ContractCodeBlock.tsx
  src/pages/contract/_components/ContractCodeTab.tsx
  src/pages/contract/_components/ContractTabs.tsx
  src/pages/contracts/_components/VerifiedContractRow.tsx
  src/pages/contracts/index.tsx
  src/shared/contractDataHelper.ts
  src/store/contract.ts
  src/store/reducer/rootReducer.ts
Labels: kind/feature

#251 chore(ops): move to node 18 and update deps
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  README.md
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Labels: kind/chore

#254 fix(ui-ux): tx for contract creation - to is incorrect
  src/api/types.ts
  src/pages/tx/[tid].tsx
  src/shared/transactionDataHelper.ts
Labels: kind/fix

#246 feat(core): add contract read and write methods
  .npmrc
  next.config.js
  package.json
  pnpm-lock.yaml
  src/api/LatestDataApi.ts
  src/api/types.ts
  src/layouts/Default.tsx
  src/layouts/contexts/Environment.ts
  src/pages/address/[aid].tsx
  src/pages/block/[id].tsx
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ConnectButton.tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/ContractCodeTab.tsx
  src/pages/contract/_components/ContractTabs.tsx
  src/pages/contract/_components/WriteContract.tsx
  src/pages/contract/_components/WriteContractInputItem.tsx
  src/pages/contract/_components/read-write/ContractMethod.tsx
  src/pages/contract/_components/read-write/ContractMethodForm.tsx
  src/pages/contract/_components/read-write/ContractMethodResult.tsx
  src/pages/contract/_components/read-write/ContractMethodTextInput.tsx
  src/pages/contract/_components/read-write/ReadWriteContract.tsx
  src/pages/contract/_components/read-write/SubmitButton.tsx
  src/shared/Chains.ts
  src/shared/constants.ts
  src/shared/contractDataHelper.ts
  src/shared/getRewards.tsx
  src/shared/transactionDataHelper.ts
  src/store/contract.ts
  src/store/reducer/rootReducer.ts
Labels: kind/feature

#256 feat(ui-ux): redirect contract address to contract page
  src/pages/address/[aid].tsx
Labels: kind/feature

#258 feat(ui-ux): add unverified contract ux
  src/pages/contract/[cid].tsx
  src/pages/contract/_components/ContractCode.tsx
  src/pages/contract/_components/ContractCodeTab.tsx
  src/shared/contractDataHelper.ts
  src/store/contract.ts
Labels: kind/feature

#257 feat(ui-ux): add plus icon to add zeroes on write input
  src/components/commons/Dropdown.tsx
  src/components/commons/InputComponent.tsx
  src/components/commons/Modal.tsx
  src/pages/contract/_components/read-write/AddZeroesModal.tsx
  src/pages/contract/_components/read-write/ContractMethodForm.tsx
  src/pages/contract/_components/read-write/ContractMethodTextInput.tsx
Labels: kind/feature

#259 feat(core): integrate config api from blockscout v2
  src/api/SmartContractApi.ts
  src/api/index.ts
  src/api/types.ts
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/index.tsx
  src/store/contract.ts
  src/store/reducer/rootReducer.ts
Labels: kind/feature

#260 fix(ui-ux): refactor smart contract page components
  src/components/commons/Dropdown.tsx
  src/pages/contract/verify/_components/StepOne.tsx
  src/pages/contract/verify/_components/StepTwo.tsx
  src/pages/contract/verify/index.tsx
Labels: kind/fix
